[Unit]
Description=Dreams Recorder
After=network.target

[Service]
ExecStart=/home/elliott/.cargo/bin/drecorder server
Type=simple
Restart=always

[Install]
WantedBy=default.target
